# Скопируйте в .env и заполните значения.
APPHUD_API_KEY=
APPHUD_BUNDLE_ID=
APPHUD_PAYWALL_ID=
APPHUD_PRODUCT_WEEKLY_ID=
APPHUD_PRODUCT_MONTHLY_ID=

APPSFLYER_DEV_KEY=
APPSFLYER_APPLE_APP_ID=

APPMETRICA_API_KEY=

ADMOB_APP_ID=
ADMOB_BANNER_AD_UNIT_ID=
ADMOB_INTERSTITIAL_AD_UNIT_ID=
ADMOB_REWARDED_AD_UNIT_ID=
ADMOB_REWARDED_INTERSTITIAL_AD_UNIT_ID=
ADMOB_APP_OPEN_AD_UNIT_ID=
ADMOB_NATIVE_AD_UNIT_ID=
